{% extends "base.html" %}
{% block body %}
  <section class="mt-4 small-container text-center" aria-label="Recognize result wrapper">
    <hr>
    <img class="mb-4" src="{{image_loc}}" alt="submitted image" width="256" height="256">
    <div class="btn-group mb-4" aria-label="Basic outlined example">
      <a href="purchase.html" class="btn btn-primary">Beli</a>
      <a href="/" class="btn btn-primary">Tidak</a>
    </div>
    <h3 class="h3 mb-3 font-weight-normal">
      <div>Tingkat Kematangan</div>
      <div aria-label="Persentase kesegaran">{{prediction}}%</div>
    </h3>
    <h3 class="h3 mb-3 font-weight-normal">
      <div>Harga Setelah didiskon</div>
      <div aria-label="Harga">{{price}}%</div>
    </h3>
  </section>
{% endblock%}
